<main>
    <div class="d-flex justify-content-end">
        {{!-- Verificar si hay un usuario autenticado --}}
        {{#if username}}
            <a href="/api/sessions/logout" class="btn btn-outline-danger w-25 ms-auto">Logout</a>
        {{else}}
            <a href="/login" class="btn btn-outline-primary w-25 ms-auto">Login</a>
        {{/if}}
    </div>

    <h1 class="pt-3">Home</h1>

    {{!-- Mostrar mensaje de bienvenida y detalles del usuario --}}
    {{#if username}}
        {{!-- Verificar si el rol del usuario es 'admin' --}}
        {{#if role}}
            <h3>Bienvenido, {{ nombre }} {{ apellido }}. Usted es admin</h3>
            <br>
        {{else}}
            <h3>Bienvenido, {{ nombre }} {{ apellido }}.</h3><br>
        {{/if}}
    {{else}}
        <h3>Bienvenido</h3>
    {{/if}}
</main>

<script src="/js/home.js"></script>